.footerWrapper {
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(221, 221, 221);
  background: linear-gradient(
    9deg,
    rgba(221, 221, 221, 1) 0%,
    rgba(255, 255, 255, 1) 68%
  );
}
.header {
  display: flex;
  margin: 70px 30px 40px 30px;
}
.logo {
  width: 116px;
  height: 130px;
  /* margin-left: auto; */
}
.mobileApp {
  display: flex;
  flex-direction: column;
  height: 180px;
  /* margin-top: 15px; */
}
.mobileApp div {
  margin-top: auto;
}
.mobileApp svg {
  width: 139px;
  height: 50px;
  cursor: pointer;
  align-self: center;
  /* margin-top: -35px; */
}
.iconsWrapper {
  display: flex;
  flex-direction: row-reverse;
}
.logoContainer {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(9, 64, 103, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 8px;
}
.logoContainer svg {
  height: 20px;
}
.logoContainer:hover path {
  stroke: white;
}
.logoContainer:hover {
  background-color: #094067;
}

.rights {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.designed img,
.rights img {
  height: 20px;
  margin-left: 10px;
}
.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  margin: auto 30px;
  color: #5f6c7b;
}
.content > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content > div:first-child p {
  color: #3da9fc !important;
}

@media all and (max-width: 600px) {
  .content {
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    height: 100%;
  }
  .content div:nth-child(2),
  .content div:nth-child(3) {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0 auto;
  }
  .mobileApp {
    order: 1;
  }
  .mobileApp svg {
    width: 149px;
    height: 60px;
    cursor: pointer;
    /* margin-top: -35px; */
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .iconsWrapper {
    margin-top: 15px;
  }
  .rights {
    margin-top: 20px;
  }
}
