.modalWrapper {
  position: sticky;
  /* bottom: 50%; */
  /* left: 50%; */
  transform: translate(-21%, 165px);
  /* transform: translateY(240px); */
  height: 430px;
  width: 250%;
  margin-left: -130%;
  margin-right: -50%;
}

/* .modalBackdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -12;
    background-color: rgba(0,0,0,0.3);
  } */

.modalBox {
  /* bottom: 50%; */
  /* left: 50%; */
  height: 450px;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0 5px 35px rgba(9, 64, 103, 0.1);
  z-index: 108;
  padding: 35px;
  backdrop-filter: blur(35px);
  border-radius: 7px;
}

.modalBox img {
  height: 13px;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  .modalWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    margin-left: 0%;
    margin-right: 0%;

    /* transform: translate(0%, 0px); */
    transform: translateY(350%);
    height: 100px;
    width: 100%;
  }
  .modalBox {
    transform: translate(0%, 0px);
    /* width: 300%; */
    height: 500%;
    width: 70%;
  }
}
